body {
    color: gold;
    background: rgb(44, 42, 42);
    margin: 0px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px gold;
    padding: 20px;
    font-size: 32px;
}

.chamada {
    background: rgb(44, 42, 42);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
height: 150px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid gold;
}


.categoria h2 {
    color: gold;
}